<form action="/users" method="POST">
    Nome: <input type="text" name="Nome" />
    Email: <input type="text" name="Email">
    <button type="submit">Send</button>
</form>

<form action="/users/delete" method="POST">
    Email a excluir: <input type="text" name="Email">
    <button type="submit">Excluir</button>
</form>